.About {
  width: 100%;
  height: 100%;
  padding: 10%;
}
.sectionAbout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media only screen and (max-width: 769px) {
  .sectionAbout {
    flex-direction: column;
  }
}
.aboutText {
  // width: 50%;
  // height: 50%;
  font-family: sans-serif;
  font-size: clamp(1em, 1.5vw, 2em);
  small{
    color: red;
  }
}
.aboutFoto {
  min-width: 40%;
  min-height: 50vh;
  border: 1px solid red;
  margin: 10%;
}
