.Navbar {
  background-color: #f0ecc9;
  width: 11%;
  min-height: 100%;

  .navBar {
    margin-left: 0.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    li {
      padding: 12% 0;
      .selected {
        color: red;
      }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1025px) {
    .navBar {
      margin-left: 1vw;
    }
  }
  @media only screen and (max-width: 756px) {
    .navBar,
    .NavBar {
      display: none;
    }
  }
}

// styles in common with burgerMenu

.iconsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  .contactsContainer,
  .socialsContainer {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
  }
  @media only screen and (max-width: 756px) {
    .contactsContainer,
    .socialsContainer {
      margin: 1.5%;
      width: 20%;
    }
  }
  .contactIcon {
    width: clamp(1.5em, 1.5vw, 2.5em);
  }

  .contactIcon:hover {
    transform: scale(2);
  }

  .selectedSocials {
    transform: scale(2.5);
    margin: 8%;
  }
  .selectedSocials:hover {
    transform: scale(1);
  }
}
@media only screen and (max-width: 756px) {
  .iconsContainer {
    margin-right: 7.5%;
    margin-top: 4%;
  }
}
